*.wav filter=lfs diff=lfs merge=lfs -text
*.aif filter=lfs diff=lfs merge=lfs -text
Arti[[:space:]]Cinta-2.wav filter=lfs diff=lfs merge=lfs -text
Mirrors[[:space:]]Live-2.wav filter=lfs diff=lfs merge=lfs -text
Mirrors[[:space:]]Live[[:space:]]v2.wav filter=lfs diff=lfs merge=lfs -text
Mirrors[[:space:]]Live.wav filter=lfs diff=lfs merge=lfs -text
Topeng[[:space:]]C.wav filter=lfs diff=lfs merge=lfs -text
Arti[[:space:]]Cinta-1.wav filter=lfs diff=lfs merge=lfs -text
Arti[[:space:]]Cinta-3.wav filter=lfs diff=lfs merge=lfs -text
Arti[[:space:]]Cinta.wav filter=lfs diff=lfs merge=lfs -text
Dangdut[[:space:]]is[[:space:]]The[[:space:]]Music[[:space:]]of[[:space:]]My[[:space:]]Country[[:space:]]SQ[[:space:]]184.wav filter=lfs diff=lfs merge=lfs -text
Lebih[[:space:]]Dekat[[:space:]]Denganmu[[:space:]]Juwita.wav filter=lfs diff=lfs merge=lfs -text
Mirrors[[:space:]]Live-1.wav filter=lfs diff=lfs merge=lfs -text
Sang[[:space:]]Dewi[[:space:]]v2[[:space:]][2023-01-05[[:space:]]010048].wav filter=lfs diff=lfs merge=lfs -text
Topeng[[:space:]]Perc[[:space:]]135.wav filter=lfs diff=lfs merge=lfs -text
